.main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
  }
  .sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: white;
  }
  
  .usr {
    padding-bottom: 20px;
  }
  
  input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
  }
  
  .email {
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
  }
  
  .name {
    padding-left: 70px;
    font-size: 20px;
  }
  .second-input {
    padding-top: 20px;
  }
  
  button {
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: #b103fc;
    color: white;
    font-size: 25px;
    border: none;
  }
  .Signup-button {
    padding-top: 25px;
  }
  
  .sign {
    font-size: 20px;
  }
  
  .link {
    font-size: 25px;
    font-weight: 400;
  }
  .Signin {
    color: #b103fc;
    font-size: 25px;
    font-weight: 400;
  }
  
  p {
    color: grey;
    font-size: 18px;
  }
  